/**
 * UI Scale
 */
@s: 2;

/**
 * Font
 */
@font_familty: 'VT323', monospace;

/**
 * Colors
 */
@color_background: RGB(70, 110, 161);
@color_window_background: RGB(211, 208, 201);
@color_shadow_light: #FFF;
@color_shadow_dark: #808080;
@color_shadow_very_dark: #404040;