head
  // Title
  title Classic CSS
  
  // Stylesheets
  link(rel='stylesheet', href='classic.css?' + Date.now(), type='text/css')

  // font
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=VT323', type='text/css')