extends layout.pug

block params
  - var active='index.html'
  - var title='Welcome'

block content
  .window-content
    .pdn
      h1 Welcome to Classic CSS
      p The stylesheet that lets you create websites that look like an old windows application.
      p Note: This does not work properly in IE...