doctype html
html(lang="en")

  // Header
  include includes/head.pug

  // Body Base layout
  body

    #demo-window-container
      .window.window-active
        .window-header 
          span.window-header-title Classic CSS explorer

        .window-content
          span Some Content
